<!DOCTYPE html>
<html>
  <head>
    <title>DynamiCrypt Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/Form_handler.js"></script>
  </head>

  <div id="container">

      <div id="header">
          <div id="buttons_push">
              <% if (!show_service_form) { %>
                  <form method="get" action="/show_service_form" novalidate>
                      <button class="header_button" type="submit">show_service_form</button>
                  </form>
              <% } %>

              <% if (can_start_sync) { %>
                  <form method="get" action="/start_sync" novalidate>
                      <button class="header_button" type="submit">start sync</button>
                  </form>
              <% } %>

              <form method="get" action="/reset_all_variables" novalidate>
                  <button class="header_button" type="submit">reset all variables</button>
              </form>
          </div>
      </div>

      <div id="body">
          <body>


              <h1>DynamiCrypt Demo</h1>

              <% if (locals.current_service_name) { %>
              <h3>Selected Service Name is <%= current_service_name %></h3>
              <% } %>

              <% if (locals.current_partner_name) { %>
                  <h4>Currrently communicating with other App service called <%= current_partner_name %></h4>
              <% } %>



              <% if (show_service_form) { %>
              <form method="post" action="/form_get_service_name" novalidate>
                    <label for="Service_name">Service_name</label>
                    <input  name="Service_name"></input><br/>
                    <label for="API_port">API_port</label>
                    <input  name="API_port"></input><br/>
                    <label for="API_Address">API_Address</label>
                    <input  name="API_Address"></input><br/>
                    <button class="submit_button" type="submit">Send</button>
              </form>
              <% } %>

              <% if (show_partner_form) { %>
                  <form method="post" action="/form_send_to_partner" novalidate>
                      <label for="port">Other node App port</label>
                      <input  name="port"></input><br/>
                      <label for="address">other node App address</label>
                      <input  name="address"></input><br/>
                      <button class="submit_button" type="submit">Send</button>
                  </form>
              <% } %>


          </body>
      </div>

      <div id="footer">
          <footer>
              <div id="logging"><%- logs_at_bottom_of_screen %></div>
          </footer>
      </div>

  </div>


</html>
